body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: hwb(204 5% 49% / 0.563);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.header-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

.navigation ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.navigation li {
    margin-left: 1.5rem;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 2rem auto;
    padding: 0 1rem;
}

main h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

main p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.text-container {
    padding: 10px;
    max-width: 1000px; 
    overflow: auto; 
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#333;
    color:#fff;
    padding: 1rem 0;
    font-size: 0.9rem;
}

.footer p {
    margin: 0;
}